@model BasicOnlineStore.Models.ProductModel

@{
    var s = Model.Name;
    var firstWord = s.IndexOf(" ") > -1 ? s.Substring(0, s.IndexOf(" ")) : s;
}

<div class="card" style="width: 18rem;">
    <img src="https://loremflickr.com/150/150/@firstWord,food/all?lock=@Model.Id" class="card-img-top" alt="@Model.Name">
    <div class="card-body">
        <h5 class="card-title">@Model.Name</h5>
        <p class="card-text">$@Model.Price</p>
        <a href="/product/ShowDetails/@Model.Id" class="btn btn-primary">Show details</a>
        <a href="/product/Edit/@Model.Id" class="btn btn-primary">Edit</a>
        <a href="/product/Delete/@Model.Id" class="btn btn-primary">Delete</a>

        <!-- Button trigger modal -->
        <button value="@Model.Id" type="button" class="btn btn-primary edit-product-button" data-bs-toggle="modal" data-bs-target="#editModal">
            Modal edit
        </button>

    </div>
</div>